body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
    background-color: black;
  }

@keyframes titlefade {
    0%   { 
        color:rgba(125, 80, 140, 0);    

        }
    100% { color:rgba(255, 255, 255, 50); 

    
        text-transform:inherit;}
  }


  @keyframes bgfade {
    0%   { 
        opacity: 0;
        }
    100% {     opacity: 0.15;}
  }

  .bg {

    opacity: 0.15;
    /* Full height */
    height: 150%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    user-select: none;
    -webkit-user-select: none;

 
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    
    animation-name: bgfade;
    animation-duration: 4s;

  }

.title {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 


    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: thin;
    color:rgba(255, 255, 255, 50);

    animation-name: titlefade;
    animation-duration: 4s;

    user-select: none;
    -webkit-user-select: none;
}

.funy {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 54%;
    left: 50%;
    margin-left: -150px; /* margin is -0.5 * dimension */
    margin-top: -25px; 


    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: thin;
    color:rgba(255, 255, 255, 50);

    animation-name: titlefade;
    animation-duration: 11s;

    user-select: none;
    -webkit-user-select: none;
}

